@import url('https://fonts.cdnfonts.com/css/open-sauce-sans');
@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Open Sauce Sans", var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

@utility h1-big {
  /* clamp(minimo, dimensione-ideale-fluida, massimo) */
  font-size: clamp(48px, 12vw, 160px); 
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.04em;
}

@utility h2-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

@utility body-base {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: -0.02em;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* LA GRANA 90s */
.bg-crt-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.02; 
  filter: contrast(190%) brightness(120%); 
  mix-blend-mode: screen; 
  
  /* TRUCCHI SCHEDA VIDEO (messi una volta sola!) */
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}